{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Youtube Rec+</title>
    <link rel="stylesheet" type="text/css" href="{% static 'ytrecplus/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'ytrecplus/favicon.ico' %}" >
</head>
<body>
    <script src="{% static 'ytrecplus/script.js' %}"></script>
    <nav class="top-nav">
        <div class="left-buttons">
            <a class="link-text" href="{% url 'index' %}"><img src="{% static 'ytrecplus/img/logo.png' %}" width="32" height="24" alt="YouTube Logo"></a>
            <span class="logo-title"><a class="link-text" href="{% url 'index' %}">YouTube Rec+</a></span>
			{% if authenticated %}
			<form style="display: inline" action="{% url 'upload' %}">
                    <button>Upload</button>
            </form>
			<form style="display: inline" action="{% url 'manage' param=current_video.video_url %}">
                    <button>Manage</button>
            </form>
			{% endif %}
        </div>
        <div class="search-box">
            <form style="display: inline" action="{% url 'search' %}" method="GET">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="right-buttons">
            <div class="profile-box">
                <button class="dropdown-button">&#8942;</button>
                <div class="dropdown-menu">
                    <ul>
                        <li>Your data in YouTube</li>
                        <li>Appearance: Device Theme</li>
                        <li>Language: English</li>
                        <li>Algorithm: Paused</li>
                        <li><button class="link-navbar" id="openPopup">Profile: {{ profile }}</button></li>
                        <li>Restricted Mode: Off</li>
                        <li>Location: United States</li>
                        <li>Keyboard Shortcuts</li>
                        <li>Settings</li>
                        <li>Help</li>
                        <li>Send feedback</li>
                    </ul>
                </div>
				{% if authenticated %}
				{% for i in profile_data %}
				<form method="post" style="display: inline" action="?">
					{% csrf_token %}
					<input type="hidden" id="profile" name="profile" value="{{ i.name }}">
					<button class="{{ i.status }}">{{ i.name }}</button>
				</form>
				{% endfor %}
                <form method="post" style="display: inline" action="{% url 'login' %}">
					{% csrf_token %}
					<input type="hidden" id="logout" name="logout" value="logout">
                    <button>Sign out</button>
                </form>
				{% else %}
				<form style="display: inline" action="{% url 'login' %}">
                    <button>Sign in</button>
                </form>
				{% endif %}
            </div>
        </div>
    </nav>
    <div id="popupContainer" class="popup-container">
        <div class="popup-content">
            <span class="close-button" id="closePopup">&times;</span>
            <h2>Create Profile</h2>
            Name: <input type="text" placeholder="New profile name..."><br><br>
            Import from:
            <input type="radio" id="edu" name="existing" value="30"><label for="edu">Education</label>
            <input type="radio" id="sci" name="existing" value="60"><label for="sci">Science</label><br>
            <input type="radio" id="new" name="existing" value="80" checked="checked"><label for="new">New</label><br>
            <button id="closePopupBtn">Cancel</button><button id="createProfileBtn">Create Profile (M4)</button>
        </div>
    </div>
	
	<script src="{% static 'ytrecplus/script-watch.js' %}"></script>
	<div class="video-player-page">
		<div class="video-player">
			<div class="video-player-frame">
				<a href="watch.htm"><img class="video-player-contents" src="{% static 'ytrecplus/img/player.png' %}" alt="Video Thumbnail" width="190" height="105"></a>
				<p class="video-title">{{ current_video.video_title }}</p>
				<p class="channel-name"><img class="channel-icon" src="{% static 'ytrecplus/img/channel.png' %}" width="48" height="48" alt="">{{ current_video.channel_name }} <button>Subscribe</button></p>
				<div id="video-player-description-short">
					Short description (Generic until search is implemented since clicking on any video leads here) <button id="expand-description" class="link">...more</button>
				</div>
				<div id="video-player-description-long">
					{{ current_video.description }}
				</div>
				<div class="comments-list">
					<div class="comment-box">
						<input id="submit-comment-text" type="text" placeholder="Add a comment...">
						<button id="submit-comment">Post</button>
					</div>
					<div id="comment-prefab" style="display:none">
						<div class="comment-content">
							<p class="channel-name">
								<img class="channel-icon" src="{% static 'ytrecplus/img/channel.png' %}" width="32" height="32" alt="">@SomeRandomUser
							</p>
							<p>User input goes here...</p>
						</div>
					</div>
					<div class="comment-content">
						<p class="channel-name">
							<img class="channel-icon" src="{% static 'ytrecplus/img/channel.png' %}" width="32" height="32" alt="">@SomeRandomUser
						</p>
						<p>A user's thoughts on this video...</p>
					</div>
				</div>
			</div>
			<div class="video-player-recommend">
				{% for i in video_data %}
				<div class="search-result">
					<div class="search-result-thumbnail">
						<a href="{% url 'watch' param=i.video_url %}"><img class="video-thumbnail" src="{% static 'ytrecplus/img/thumbnail/'|add:i.thumbnail_url|add:'.png' %}" alt="Video Thumbnail" width="190" height="105"></a>
					</div>
					<div class="search-result-text">
						<p class="video-title"><a href="{% url 'watch' param=i.video_url %}">{{ i.video_title }}</a></p>
						<p class="channel-name"><img class="channel-icon" src="{% static 'ytrecplus/img/channel.png' %}" width="24" height="24" alt="">{{ i.channel_name }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</body>
</html>
